In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv("StudentsPerformance.csv")

In [5]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
cat_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
num_feature = [feature for feature in df.columns if df[feature].dtype != 'O']

In [9]:
cat_feature,num_feature

(['gender',
  'race/ethnicity',
  'parental level of education',
  'lunch',
  'test preparation course'],
 ['math score', 'reading score', 'writing score'])

In [10]:
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']
df['avg_score'] = df['total_score']/3

In [11]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,avg_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [12]:
cat_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
num_feature = [feature for feature in df.columns if df[feature].dtype != 'O']

In [14]:
cat_feature,num_feature

(['gender',
  'race/ethnicity',
  'parental level of education',
  'lunch',
  'test preparation course'],
 ['math score', 'reading score', 'writing score', 'total_score', 'avg_score'])

In [13]:
for feature in cat_feature:
    unique_val = df[feature].unique()
    print('the unique values for {0} is {1}'.format(feature, unique_val))

the unique values for gender is ['female' 'male']
the unique values for race/ethnicity is ['group B' 'group C' 'group A' 'group D' 'group E']
the unique values for parental level of education is ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
the unique values for lunch is ['standard' 'free/reduced']
the unique values for test preparation course is ['none' 'completed']